body {
    background: #E0ECF8;
    margin: 0;
    margin-bottom: 60px;
}

header, footer {
    background: black;
    color: #DDD;
    padding: 10px;
    text-align: center;
}

footer {
    position: absolute;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

footer a {
    color: #CCC;
}

table {
    margin: auto;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 1px 1px 1px;
}

article {
    margin; auto;
    display: block;
    background: snow;
    margin: 40px 20%;
    padding: 20px 100px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px;
}

h1 {
    text-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    text-align: center;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    color: #555;
}

h2 {
    text-decoration: underline;
    color: #333;
}

li {
    list-style-type: circle;
}

a {
    color: #444;
}

a:hover {
    color: #888;
    position: relative;
    top: 1px;
}

.arrow {
    cursor: pointer;
}

